@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(blue, white);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: orange;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(243, 5, 5);
}
h2 {
    color: darkblue;
}
p {
    text-align: justify;
}

